<div class="row" style=" opacity:0.9;margin : 0px;background-color: #362549; font-family: Lato,Tahoma,Verdana,sans-serif; padding: 8px">


  <h2 class="col-md-7" style="font-size : 26px; margin-top:3px;color: aliceblue">Meet, Chat and have fun with new people - free!</h2>

  <div class="col-md-3" style="float: right">
    <button  style="font-size:18px ; min-width:170px;border: 1px solid aliceblue ; color: aliceblue ; padding: 10px ; border-radius: 6px; background-color:rgb(54,37,73)">Member LogIn>></button>
  </div>
</div>


