<div id="footer" class="container-div">
  <div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-3">

      <ul>
        © 2017 MeetMe ·
        <a>English</a>,
        <a>Español</a>,
        <a>Português</a>,
        <a>Русский</a>,
        <a>>></a>
      </ul>
      <ul >
        <a href="http://www.twitter.com/meetme"><i class="fa fa-twitter-square" style="margin: 5px;color: white;font-size:36px"></i></a>
        <a href="http://www.instagram.com/meetmeapp"><i class="fa fa-instagram" style="margin: 5px;color: white;font-size:36px"></i></a>
        <a href="http://www.facebook.com/MeetMe-21931227129/?fref=ts"><i class="fa fa-facebook-square" style="margin: 5px;color: white;font-size:36px"></i></a>
      </ul>
    </div>
    <div class="col-lg-8">
      <ul>
        <a class="linkText">About Us</a>
        <a class="linkText">Press</a>
        <a class="linkText">Store</a>
        <a class="linkText">Careers</a>
        <a class="linkText">Social Theater</a>
        <a class="linkText">FAQs</a>
        <a class="linkText">Suggestions?</a>
      </ul>
      <ul>
        <a class="linkText">Terms</a>
        <a class="linkText">Policy</a>
        <a class="linkText">DMCA</a>
        <a class="linkText">COOPA</a>
        <a class="linkText">Online Safety</a>
      </ul>

    </div>

  </div>
</div>
